/* ------------------------------------------ 404 Page Styling ------------------------------------------------- */

body {
    background-image: url(../images/alien-404.jpg);
    background-repeat: no-repeat;
    
    background-position: fixed;
  }

  .navbar-default {
    background-color: black;
  }
  
  .navbar-brand, .navbar-toggler {
    color: white;
    size: 100%;
  }
  
  .navSubmit {
    margin-right: 5px;
  }
    
  h4 {
      margin-top: 60px;
      margin-left: 30px;
      font-family: 'Luckiest Guy', cursive;
      text-shadow: orange 0.05em 0.05em 0.05em;
      
  }

  .fas {
    margin-left: 10%;
    margin-top: 30px;
  }
