/* .list-group-item {
  line-height: 2.5;
} */

/*--------------------------------- Background Image and Nav Bar on all Pages -------------------------------- */

body {
  background-image: url(../images/background1.gif);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  /* overflow: auto; */
  padding-bottom: 60px;
}

.navbar-default {
  background-color: black;
}

.navbar-brand, .navbar-toggler {
  color: white;
  size: 100%;
}

.navSubmit {
  margin-right: 5px;
}

/*-------------------------------------------- Home page styling --------------------------------------------- */

.jumbotron {
  margin-bottom: 0px;
  background-image: url(../images/background1.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  /* box-shadow: #004085 0.3em 0.3em 0.3em; */
  
}

.row {
  flex-wrap: nowrap;
}

/* For moving letters */
.ml2 .letter {
  display: inline-block;
  line-height: 1em;
  font-weight: bold;
}

.homeTitle {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 45px;
}

.display-4, .lead {
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;

}

.modal-footer {
  margin-left: 0%;
}

/* .colorStrip {
  color: orange;
  height: 30%;
  width: 100vw;
  margin-bottom: 10px;
} */


.meteorology, .resources {
  /* border: 1px solid blue;
  box-shadow: orange 0.3em 0.3em 0.3em; */
  /* float: left; */
  height: 20%;
  margin-top: 30px;
  text-align: center;
 
}

.home-results {
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}




/*------------------------------------------ Quiz Page Styling ---------------------------------------------------*/

.quiz-meetTeam-products {
    background-image: url(../images/body-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    padding-bottom: 60px;
}

.quiz-header {
  margin-top: 100px;
}

#wrapper {
  color: #fff;
}

/* Moving Letters */
.ml16 {
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.quizUserInfo, .timeRemaining, .quizCategory, .correctAnswerWas, .results {
  font-family: 'Share Tech Mono', monospace;
}

.quizCurrentQuestion, .allDone {
  color: yellow;
  font-family: 'B612 Mono', monospace;
}

.quizDoneAnswers {
  color: yellow;
}
.answer-button {
  border-radius: 12px;
}

.fixed-bottom {
   display: flex;
   background-color: #000;
   justify-content: center;
   align-items: center;
   position: fixed;
   height: 40px;
   bottom: 0;
   left: 0;
   right: 0;
}

/* ----------------------------------------------Meet the Team ----------------------------------------------------- */
/* Moving Letters */
.wordWrap {
  word-wrap: break-word;
}

.ml11 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.profile-card{
  position:relative;
  overflow: hidden;
  margin-bottom:10px;
}
.profile-card .profile-img img{
  width:100%;
  height:auto;
}
.profile-card .profile-content::before{
  content: "";
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:40%;
  border:3px solid #222;
  border-right:3px solid transparent;
  border-bottom:3px solid transparent;
  transform: scale(1,1);
  transition: all 0.50s linear;
}
.profile-card .profile-content::after{
  content: "";
  position:absolute;
  bottom:0;
  right:0;
  width:50%;
  height:40%;
  border:3px solid #222;
  border-left:3px solid transparent;
  border-top:3px solid transparent;
  transition: all 0.50s linear;
}
.profile-card:hover .profile-content:before{
  top:20px;
  left:20px;
}
.profile-card:hover .profile-content:after{
  bottom:20px;
  right:20px;
}
.profile-card .profile-content::after{
  content: "";
  position:absolute;
  bottom:0;
  right:0;
  width:50%;
  height:40%;
  border:3px solid #222;
  border-left:3px solid transparent;
  border-top:3px solid transparent;
  transform: scale(1,1);
  transition: all 0.50s linear;
}
.profile-card .profile-content{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:50% 4%;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
}
.profile-card .profile-content .title{
  font-size:24px;
  color:#333;
  opacity:0;
  letter-spacing:2px;
  text-transform:uppercase;
  transform: translateY(-100px);
  transition:all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}
.profile-card:hover .title{
  opacity:1;
  transform: translateY(0);
}
.profile-card:hover .title::after{
  content:"";
  display:block;
  width:50%;
  margin:10px auto;
  border-bottom:2px solid #222;
}
.profile-card .profile-content .title > span{
  display:block;
  margin:5px 0;
  font-size: 14px;
  text-transform: capitalize;
}
.profile-card .profile-content .social-link{
  margin:20px 0;
  padding:0;
  opacity:0;
  transform: translateY(100px);
  transition:all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}
.profile-card:hover .social-link{
  opacity:1;
  transform: translateY(0);
}
.profile-card .profile-content .social-link li{
  display: inline-block;
  list-style: none;
  margin:0 4px;
}
.profile-card .profile-content .social-link li a{
  color:#333;
  width:30px;
  height:25px;
  line-height:24px;
  text-align: center;
  border-radius:5px;
  background-color: #fff;
}

/* -------------------------------------------------Products Page------------------------------------------------------ */

.form-inline {
  flex-flow: row wrap;
}

.line-break {
  width: 100vw;
  height: 20%;
  color: white;
}

h1 {
  color: #777;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  margin-left: 5px;
}

h5 {
  color: white;
}

tr {
  border-bottom: 1px solid #CCC;
  padding: 15px 0;
  display: block;
}

.image-container {
  text-align: center;
  border: 1px solid #CCC;
  width: 150px;
}

.data-container {
  vertical-align: top;
  padding-left: 15px;
}

p {
  margin: 0 0 5px;
}

.item-link,
.item-link:hover,
.item-link:visited,
.item-link:active {
  text-decoration: none;
  color: #333;
}

.title {
  color: #5786bd;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  font-size: 12px;
}

.price {
  color: #333;
  font-weight: bold;
}

.bin {
  color: #777;
  font-size: 12px;
}

.fs {
  font-size: 12px;
  font-weight: bold;
}